.plava{
    background-color: aqua;
}

.obavestenja-ucenika-heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .card {
    width: 300px;
    border: 1px solid #007bff;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .plava {
    background-color: #3498db; /* Plava boja po potrebi */
    color: #fff;
  }
  
  h2 {
    cursor: pointer;
    position: relative;
  }
  
  h2::after {
    float: left;
    content: ' ►'; /* Dodajte Unicode strelicu */
    position: absolute;
    left: 20;
    transition: transform 0.3s ease; /* Dodajte tranziciju za animaciju strelice */
  }
  
  .open::after {
    transform: rotate(90deg); /* Rotirajte strelicu kada je sekcija otvorena */
  }

  .navigation-links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .navigation-links a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
  }
  
  .navigation-links a:hover {
    background-color: #007bff;
    color: #fff;
  }